<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="AtalasoftLicenseString" value="" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.2" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Atalasoft.dotImage" publicKeyToken="2b02b46f7326f73b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.1.0.405" newVersion="11.1.0.405" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Atalasoft.dotImage.Lib" publicKeyToken="2b02b46f7326f73b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.1.0.405" newVersion="11.1.0.405" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Atalasoft.Shared" publicKeyToken="2b02b46f7326f73b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.1.0.405" newVersion="11.1.0.405" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Atalasoft.dotImage.AdvancedDocClean" publicKeyToken="2b02b46f7326f73b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.1.0.405" newVersion="11.1.0.405" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Atalasoft.PdfDoc" publicKeyToken="2b02b46f7326f73b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.1.0.405" newVersion="11.1.0.405" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Atalasoft.dotImage.Ocr" publicKeyToken="2b02b46f7326f73b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.1.0.405" newVersion="11.1.0.405" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Atalasoft.dotImage.Pdf" publicKeyToken="2b02b46f7326f73b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.1.0.405" newVersion="11.1.0.405" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Atalasoft.dotImage.PdfReader" publicKeyToken="2b02b46f7326f73b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.1.0.405" newVersion="11.1.0.405" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Atalasoft.dotImage.PdfDoc.Bridge" publicKeyToken="2b02b46f7326f73b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.1.0.405" newVersion="11.1.0.405" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>